@import './assets/base.css';
@import './assets/about.css';
@import './assets/nav.css';
@import './assets/projects.css';
@import './assets/projectview.css';
@import './assets/fonts.css';
@import './assets/burger.css';
@import './assets/button.css';

.app {
  max-width: 1800px;
  height: 100vh;
  padding: 0 40px;
  margin: auto;
}

.main {
  position: absolute;
  right: 0;
  top: 0;
  margin-left: auto;
  width: 70%;
  padding-right: 20px;
  z-index: 1;
}

.main__header {
  position: fixed;
  height: 66px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px dashed #b1b1b1;
  background-color: var(--color-white);
  width: 70%;
  margin-left: 20px;
  text-decoration: none;
}

.header {
  position: fixed;
  width: 25%;
  margin-right: 20px;
  z-index: 2;
}

.header__logo {
  height: 66px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px dashed #b1b1b1;
  margin-right: 20px;
}

.header__logo-img {
  height: 48px;
  width: 48px;
  display: none;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 66px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 500px) {
  #app {
    padding: 0;
  }
  .header {
    /* visibility: hidden; */
    width: 100%;
  }

  .header__logo {
    width: 100%;
    position: fixed;
    visibility: visible;
    height: 50px;
    margin: 0;
    padding: 16px;
    font-size: 14px;
    background: var(--color-white);
  }

  .main {
    position: relative;
    right: auto;
    top: auto;
    width: 100%;
    padding-right: 0;
    padding-top: 30px;
    /* background-color: #f1f1f1; */
    /* bacground animation gradient */
    /* background: linear-gradient(-45deg, #ffffff, #dddddd, #d1d1d1, #e0e0e0);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh; */
  }

  .main__header {
    position: relative;
    height: 50px;
    font-size: 14px;
    width: 100%;
    margin-left: 0;
    padding-left: 20px;
  }

  .footer {
    background-color: var(--color-white);
    width: 100%;
  }
}
/* 
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
